.container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  
  &--fullHeight {
    height: 100vh;
    max-width: 100%;
  }

  @include media('>tablet') {
    max-width: map-deep-get($values, 'width', 'desktop');
  }

  @include media('<=tablet') {
    max-width: map-deep-get($values, 'width', 'tablet');
  }

  @include media('<=phone') {
    max-width: map-deep-get($values, 'width', 'mobile');
  }
}
