{
  "globals": {
    "jQuery": true,
    "$": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "import"
  ],
  "extends": [
    "airbnb-base"
  ],
  "rules": {
    "no-underscore-dangle": "off",
    "func-names": [
      "error",
      "as-needed"
    ]
  }
}
