# install scripts
init_wp
wp-host-update*

# editor
/nbproject/private/
/nbproject/
.project
npm-debug.log
.idea
.history

# composer
composer.lock
/vendor/
/cms/

# svn
.svn

# Ignore Mac DS_Store files
.DS_Store
._*
node_modules/
.com.apple.timemachine.supported

# linux backup files
*~

# markup
.sass-cache
node_modules
*.map
*.tmp
.tmp
tmp
*.psd
*.ai
*.zip
*.tgz
*.tar
*.rar
