# See http://help.github.com/ignore-files/ for more about ignoring files.

# install scripts
init_wp

# editor
/nbproject/private/
/nbproject/
.project
npm-debug.log
.idea

# composer
composer.lock
/vendor/
/cms/

# Ignore Mac DS_Store files
.DS_Store
._*
node_modules/
.com.apple.timemachine.supported

# linux backup files
*~

# markup
/build/
/assets/
/production/
.sass-cache
node_modules
*.map
.tmp
tmp

# wordpress configs and uploads
/wp-config.php
/.htaccess
/wp-content/uploads/*