# fonts declaration
AddType x-font/otf .otf
AddType x-font/ttf .ttf
AddType x-font/eot .eot
AddType x-font/woff .woff
AddType image/x-icon .ico
# compress text, html, javascript, css, xml:
<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/plain
    AddOutputFilterByType DEFLATE text/html
    AddOutputFilterByType DEFLATE text/xml
    AddOutputFilterByType DEFLATE text/css
    AddOutputFilterByType DEFLATE application/xml
    AddOutputFilterByType DEFLATE application/xhtml+xml
    AddOutputFilterByType DEFLATE application/rss+xml
    AddOutputFilterByType DEFLATE application/javascript
    AddOutputFilterByType DEFLATE application/x-javascript
    AddOutputFilterByType DEFLATE image/svg+xml
</IfModule>
#Browser cache
<IfModule mod_expires.c>
    <FilesMatch "\.(jpe?g|png|gif|js|css|ttf|svg|woff?2)$">
        ExpiresActive On
        ExpiresDefault "access plus 7 days"
    </FilesMatch>
    ExpiresByType text/javascript "access plus 7 days"
    ExpiresByType application/x-javascript "access plus 7 days"
    ExpiresByType application/javascript "access plus 7 days"
    ExpiresByType text/javascript "access plus 7 days"
    ExpiresByType text/js "access plus 7 days"
</IfModule>
#Security
Options All -Indexes
<FilesMatch "^(readme.*|license.*|composer.*|wp-config.php|README.*|package(-lock)?.*)$">
        order allow,deny
        deny from all
</FilesMatch>
<FilesMatch ".+\.ph(p[345]?|t|tml|x|.\..*|)$" >
        order allow,deny
        deny from all
</FilesMatch>
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^build/* - [R=403]
RewriteRule ^config/* - [R=403]
RewriteRule ^src/* - [R=403]
RewriteRule ^test/* - [R=403]
RewriteRule ^static/* - [R=403]
RewriteRule ^node_modules/* - [R=403]
RewriteRule ^vendor(/|$) - [F]
RewriteRule ^(^\.|\/\.) /index.html [R=404]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [R=404]
</IfModule>