// Note: This is an example of components style, so please remove it or re-write it on your styles.

.starter-box {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: center;

  h1 {
    width: 100%;
    font-size: 48px;
  }

  p {
    font-size: 24px;
  }
}