/* 
  // You can add fonts at _config/fonts.scss
*/

$default-font-serif: 'Times New Roman', 'Times', serif !default;
$default-font-sans-serif: 'Verdana', 'Geneva', sans-serif !default;

$default-font-family: $default-font-sans-serif;
$default-font-color: map-deep-get($colors, 'main-text', 'filling-90');

/* 
  // Customize it for your project 
*/

$default-font-size: map-deep-get($typography-settings, 'sizes', 'default-font-size');
$default-font-line-height: 1.1em !default;
$default-font-letter-spacing: normal !default;
$default-font-weight: 400 !default;

$default-font-settings: $default-font-weight #{$default-font-size}/#{$default-font-line-height} $default-font-family !default;

/* 
  // Base grid settings  
*/

$container-max-width: $w1440;

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
  @include font-smoothing(on);
  color: $default-font-color;
  background: $default-background-color;
  font: $default-font-settings;
  min-width: 320px;
}