.container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  
  &--fullHeight {
    height: 100vh;
    max-width: 100%;
  }
}
