// =========================
//          ...
// =========================
// $base-min-width: $w320;

/*
  // Base columns width
  // Used to adjust the grid
*/

$columns-width: (
  'col-1': 8.33%,
  'col-2': 16.66%,
  'col-3': 25%,
  'col-4': 33.33%,
  'col-5': 41.65%,
  'col-6': 50%,
  'col-7': 58.33%,
  'col-8': 66.66%,
  'col-9': 75%,
  'col-10': 83.33%,
  'col-11': 91.66%,
  'col-12': 100%
  );

/* 
  // Base gaps 
  // Used for simplifying shorthands
*/
$base-horizontal-padding: map-deep-get($indents, 'horizontal', 'xs');

$base-vertical-padding: map-deep-get($indents, 'vertical', 'xs');

$base-horizontal-margin: $base-horizontal-padding;
$base-vertical-margin: $base-vertical-padding;

// Base media breakpoints
$breakpoints: (
  'desktop': map-deep-get($values, 'width', 'desktop'),
  'tablet' : map-deep-get($values, 'width', 'tablet'),
  'phone'  : map-deep-get($values, 'width', 'mobile')
  );