// Default settings
$default-font-size: 16px;
$default-line-height: 1.1em;
$default-font-family: " 'Verdana', 'Geneva', sans-serif ";
$default-dark-font-color: #333;

$animation-speed: 0.3s !default;

// Containers max-width
$desktop-container-max-width: 90rem;
$tablet-container-max-width: 61.25rem;
$mobile-container-max-width: 30rem;

// Primary colors
$body-background-color: #fff;

// Base heading font-size
$h1-font-size: 2.25em;
$h2-font-size: 2em;
$h3-font-size: 1.75em;
$h4-font-size: 1.5em;
$h5-font-size: 1.25em;
$h6-font-size: 1em;

/*
    In a large project,
    it is difficult to keep track of all the index values,
    and this mixin will help to collect them in one place.

    Usage: 
    .header {
      z-index: z('hight');
    }

    Output CSS:
    .header {
      z-index: 3;
    }
*/

$z-indexes: (
  'outdated-browser', // 5
  'modal',            // 4
  'hight',            // 3
  'content',          // 2
  'low'               // 1
);
