// This is base reset for form elements.
//
// Note: If you use a framework that includes form styling then you need to remove this file.

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  box-sizing: border-box;
  border: 0.1rem solid var(--form-element-border-color);
  padding: var(--form-element-padding);
  font-family: var(--form-font-family);

  &:focus {
    border-color: var(--form-element-focus-border-color);
  }

  @include placeholder {
    color: var(--placeholder-color);
  }
}

select {
  -webkit-border-radius: 0;
}

textarea {
  resize: vertical;
  vertical-align: top;
}

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  cursor: pointer;
  font-family: var(--form-font-family);
}