// This is base reset for global components.
//
// Note: If you use a framework that includes base styling then you need to remove this file.

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  @include font-smoothing(on);
  color: var(--base-text-color);
  background: var(--base-background-color);
  font: var(--base-font-size) / var(--base-line-height) var(--base-font-family);
  min-width: var(--base-min-width);
}

// adaptive images
img {
  max-width: 100%;
  height: auto;
}

// google map fix
.gm-style img {
  max-width: none;
}
