doctype html
html(lang='en')
  include ../partials/head
  body
    #wrapper
      +article('Hello world')
      +article('Hello world')
        p This is my
        p Amazing article
  include ../partials/foot