extends ../layouts/default

block blog
  article
    h2 Lorem ipsum dolor sit.
    p.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Quod error impedit ratione est. Minus doloribus commodi
      voluptate obcaecati vitae neque!
    p.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Quod error impedit ratione est. Minus doloribus commodi
      voluptate obcaecati vitae neque!