doctype html
html(lang='en')
  include ../partials/head
  body
    #wrapper
      .entry-section
        #home-canvas
        section.starter-box
          h1 JustCoded11
          p Web Starter Kit
  include ../partials/foot