// Global variables
//
// Base font styles for headings and links.

// Breakpoints for include media mixin
$breakpoints: (
  'phone': 480px,
  'tablet': 768px,
  'desktop': 980px,
  'widescreen': 1200px
);