// =========================
// Colors used in the design
// =========================


$default-background-color: #fff;

$default-dark-font-color: #000;

$colors: (
  'main-text': (
    'filling-90': rgba($default-dark-font-color, .9),
    'filling-80': rgba($default-dark-font-color, .8),
    'filling-70': rgba($default-dark-font-color, .7),
    'filling-30': rgba($default-dark-font-color, .3),
    'filling-20': rgba($default-dark-font-color, .2),
    'filling-05': rgba($default-dark-font-color, .05),
  ),
  'primary': (
    'red': #E0203E,
    'green': #02A04A,
    'blue': #176FB6,
    'yellow': #FDDC0E,
    'body-bg-color': #fff
  ),
  'digital': (
    'blue': #0067C5,
  )
);