// Default font settings customization
$typography-settings: map-deep-set($typography-settings, 'base-font-settings''base-font-size', $default-font-size);
$typography-settings: map-deep-set($typography-settings, 'base-font-settings''base-line-height', $default-line-height);
$typography-settings: map-deep-set($typography-settings, 'base-font-settings''base-font-family', $default-font-family);

// Heading customization
$heading-custom-size: (
  'h1': $h1-font-size,
  'h2': $h2-font-size,
  'h3': $h3-font-size,
  'h4': $h4-font-size,
  'h5': $h5-font-size,
  'h6': $h6-font-size
);

@for $i from 1 through 6 {
  $custom-size: map-get($heading-custom-size, 'h#{$i}');
  $typography-settings: map-deep-set($typography-settings, 'sizes''h#{$i}-font-size', $custom-size)
}

// Container max width customization
$values: map-deep-set($values, 'width''desktop', $desktop-container-max-width);
$values: map-deep-set($values, 'width''tablet', $tablet-container-max-width);
$values: map-deep-set($values, 'width''mobile', $mobile-container-max-width);
.container {
  @include media('>tablet') {
    max-width: map-deep-get($values, 'width', 'desktop');
  }

  @include media('<=tablet') {
    max-width: map-deep-get($values, 'width', 'tablet');
  }

  @include media('<=phone') {
    max-width: map-deep-get($values, 'width', 'mobile');
  }
}

$colors: map-deep-set($colors, 'primary''body-bg-color', $body-background-color);